<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Agenda de contactos</title>
</head>
<body>
    <h2>Desde el back</h2>

    <form action="agregar" method="post">

        <input type="text" name="nombre" placeholder="nombre">
        <input type="text" name="numero" placeholder="numero">
        <input type="text" name="direccion" placeholder="direccion">
        <input type="text" name="telefono" placeholder="telefono">
        <button type="submit">Agregar contacto</button>
        <br>
        <% contactos.map(item =>{ %>
            <a href="contacto/<%= item.id %>"><%= item.datos.nombre %></a>
            <a href="borrar/<%= item.id %>">borrar</a>
        <% })%>
    </form>

</body>
</html>